.card-carousel {
  width: 100%;
  li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $tan;
    font-size: 1em;
    height: 270px;
    .ca & {
      height: 300px;
    }
    padding: 0 2em;
    &:not(:last-of-type) {
      margin-right: 1em;
    }
    img {
      width: auto;
      height: 110px;
      margin: 0 auto;
      max-width: 100%;
      object-fit: contain;
    }
    video {
      object-fit: contain;
      height: 110px;
      margin: 0 auto;
      display: block;
    }
    p {
      color: $brown;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 2em;
    }
  }
  @media all and (min-width: 1024px) {
    display: flex;
    justify-content: center;
    li {
      width: 19%;
      height: auto;
      .ca & {
        height: auto;
      }
      justify-content: space-between;
      opacity: 0;
      transform: translateY(15%);
      transition: 0.4s all ease-in-out;
      img {
        width: auto;
        height: 180px;
      }
      video {
        height: 180px;
      }
      p {
        font-size: 2em;
      }
    }
    @for $i from 1 to 6 {
      li:nth-child(#{$i}) {
        transition-delay: $i * 0.25s;
      }
    }
    &.reveal {
      li {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }
}