ul.roadmap {
  width: 90%;
  list-style: none;
  margin-bottom: 4em;
  box-sizing: border-box;
  li {
    display: flex;
    align-items: center;
    margin: 1em 0;
    position: relative;
    font-size: 1.7em;
    box-sizing: border-box;
    p {
      width: 80%;
      margin-left: 2em;
    }
    span {
      font-size: 7em;
      line-height: 1em;
      font-family: "Bebas Neue";
    }
    p,
    span {
      opacity: 0;
      transform: translateY(10%);
      transition: 0.5s all ease-in-out;
    }
    &:after {
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      background-color: $tan;
      transition: 0.5s all ease-in-out;
      transform: scaleX(0);
      transform-origin: center left;
    }
    &.reveal {
      p,
      span {
        opacity: 1;
        transform: translateY(0%);
      }
      &:after {
        transform: scaleX(1);
      }
    }
  }
  @media all and (min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      width: 3px;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 15.6%;
      background-color: $tan;
    }
    li {
      width: 50%;
      align-self: flex-start;
      &:nth-of-type(even) {
        margin-top: 6em;
        align-self: flex-start;
        padding-left: 4em;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
