.shoe-carousel {
  width: 100%;
  list-style: none;
  position: relative;
  li {
    text-align: center;
    img {
      width: 80%;
      height: auto;
      margin: 0 auto;
    }
    img {
      cursor: pointer;
    }
  }

  .slick-prev,
  .slick-next {
    width: 30px;
    height: 50px;
    background-color: transparent !important;
    z-index: 10;
    &:before {
      content: "";
      background-image: url("images/carousel-arrow.png");
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-size: contain;
      opacity: 1;
    }
    &:hover {
      background-color: transparent;
    }
  }

  .slick-prev {
    left: 5px;
  }
  .slick-next {
    right: 5px;
  }
  @media all and (min-width: 1024px) {
    height: 100%;
    align-self: start;
    display: flex;
    flex-direction: column;
    li {
      img {
        width: 100%;
      }
    }
    li:first-of-type {
      img {
        display: none;
      }
    }
  }
}
