.text-list {
  list-style: none;
  padding-left: 0em;
  p {
    margin: 0;
  }
  li {
    display: flex;
    align-items: flex-start;
    margin: 0.15em 0;
    font-size: 1.7em;
  }
  li::before {
    content: "\2022";  
    color: $tan; 
    font-weight: bold; 
    display: inline-block; 
    margin-right: 0.5em; 
  }
}