section.footbed {
  img.hide-mobile {
    display: none !important;
  }
  div.photo-container {
    img {
      width: 100%;
      height: auto;
      margin: 1em 0;
    }
  }
  div.content-container {
    padding: 0 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > div {
      width: 20%;
      display: flex;
      align-content: center;
    }
    img {
      width: 100%;
      height: auto;
      align-self: center;
    }
    h2 {
      width: 75%;
    }
  }
  @media all and (min-width: 1024px) {
    div.eco-wrapper & {
      flex-direction: row;
      justify-content: space-between;
      padding: 3em 1.5em;
    }
    div.content-container {
      order: 1;
      flex-direction: column;
      width: 30%;
      padding-left: 5vw;
      h2 {
        margin-bottom: 0.5em;
      }
      p {
        margin-top: 0;
      }
      > div {
        order: 2;
        width: 100%;
        > img {
          align-self: flex-start;
          margin-top: 3em;
          width: 30%;
          margin-left: 2em;
        }
      }
    }
    > img  {
      width: 30%;
      height: auto;
      order: 2;
    }
    img.hide-mobile {
      display: block !important;
    }
    div.photo-container {
      order: 3;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 30%;
      padding-right: 2.5%;
      img  {
        width: 90%;
      }
      .hide-mobile {
        max-width: 120px;
        margin-bottom: 10em;
      }
    }
  }
}