section.future {
  div.eco-wrapper & {
    padding-left: 0;
    padding-right: 0;
  }
  > h2 {
    max-width: 600px;
    align-self: flex-start;
    padding-left: 5vw;
  }
  > div {
    padding: 4em 0;
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    h2 {
      color: $neon-green;
      text-align: center;
      line-height: 0.85em;
      letter-spacing: 2px;
      margin: 0.25em 0;
      font-size: 3.6em;
      padding: 0;
      text-align: center;
    }
    > img {
      width: 100%;
      height: auto;
      max-width: 100px;
      margin: 1em 0;
    }
  }
  @media all and (min-width: 1024px) {
    > div {
      img {
        max-width: 150px;
      }
      h2 {
        font-size: 5em;
      }
    }
  }
}