#eco-container {
  section.intro {
    justify-content: center;
    align-items: center;
    div.eco-wrapper & {
      padding-bottom: 0;
    }
    h1 {
      color: $neon-green;
      text-align: center;
      line-height: 0.85em;
      letter-spacing: 2px;
      margin: 0.25em 0;
      &::after {
        border: none;
      }
    }
    > img {
      width: 100%;
      height: auto;
      max-width: 100px;
    }
    p {
      text-align: center;
    }

    div.video-container {
      background-image: url("images/intro-video-poster.jpg");
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 56.25vw;
      margin: 4em 0;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      position: relative;
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: black;
        opacity: 0.3;
      }
      h2 {
        color: white;
        font-size: 2.4em;
        margin: 0;
        max-width: 50%;
      }
      > div {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
      }
      button {
        background-color: transparent;
        height: auto;
        width: auto;
        align-self: center;
        display: flex;
        align-content: center;
        align-items: center;
        padding: 0;
        margin-right: 0.5em;
        img {
          width: 60px;
          height: auto;
        }
        span {
          display: none;
          color: white;
          font-family: "Bebas Neue", sans-serif;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    @media all and (min-width: 800px) {
      div.eco-wrapper & {
        padding-top: 10em;
      }
      p {
        max-width: 600px;
      }
    }
    @media all and (min-width: 1024px) {
      div.video-container {
        // height: 576px;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-end;
        > div {
          padding: 4em 0 4em 4em;
          flex-direction: column;
          align-self: flex-end;
          align-items: flex-start;
          width: 35%;
          padding-right: 5%;
          margin-bottom: 7.5%;
        }
        button {
          order: 2;
          align-self: flex-start;
          span {
            display: block;
            font-size: 1.6em;
            line-height: 1em;
            margin-left: 0.25em;
          }
        }
        h2 {
          font-size: 4em;
          max-width: none;
        }
      }
    }
    @media all and (min-width: 1400px) {
      div.video-container {
        height: 788px;
      }
    }
  }
}
