section.leathers {
  h4 {
    padding: 0 1em;
    text-align: left;
    width: 100%;
  }
  div.carousel-container {
    width: 100%;
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // a.button {
    //   position: absolute;
    //   top: 0px;
    //   right: 0px;
    // }
    a.button {
      height: auto;
      color: $off-white;
      .ca & {
        font-size: 1.55em;
      }
    }
    ul {
      width: 100%;
      margin-bottom: 2em;
    }
    h5 {
      font-size: 1.8em;
    }
  }
  div.content-container {
    padding: 0 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      width: 15%;
      height: auto;
      align-self: center;
    }
    h2 {
      width: 80%;
    }
  }
  div.large-preview {
    display: none;
    img {
      width: 100%;
      height: auto;
      max-width: 700px;
      margin: 0 auto;
      display: block;
    }
    > p {
      display: none;
      text-align: center;
      margin-top: 0;
    }
    .magnify-lens {
      box-shadow: none;
      border: 3px solid $tan;
    }
  }
  @media all and (min-width: 1024px) {
    div.eco-wrapper & {
      flex-direction: row;
    }
    h5 {
      display: none;
    }
    div.content-container {
      order: 1;
      flex-direction: column;
      width: 30%;
      align-items: flex-start;
      padding-left: 5vw;
      img {
        order: 2;
        align-self: flex-start;
        width: 25%;
        object-fit: contain;
      }
      h2 {
        margin-bottom: 0.25em;
        width: 115%;
      }
      p {
        margin-top: 0;
      }
    }
    ul {
      order: 2;
      margin-bottom: 0;
    }
    div.large-preview {
      display: block;
      order: 2;
      width: 55%;
      > p {
        display: block;
      }
    }
    div.carousel-container {
      order: 3;
      width: 15%;
      text-align: center;
      justify-content: center;
      a.button {
        position: static;
        top: auto;
        right: auto;
        margin-top: 1.5em;
        order: 2;
        .ca & {
          font-size: 2em;
        }
      }
    }
  }
}
