section.plastics {
  h4 {
    width: 100%;
  }
  div.content-container {
    width: 100%;
  }
  @media all and (min-width: 1024px) {
    // div.eco-wrapper & {
    //   padding: 0;
    // }
    h4 {
      display: none;
    }
    div.content-container {
      order: 1;
      width: 100%;
      max-width: 400px;
      align-self: flex-start;
      padding-left: 5vw;
      margin-bottom: 2.5%;
      p {
        margin-top: 0;
      }
      h2 {
        margin-bottom: 0.25em;
      }
    }
    ul {
      order: 2;
    }
  }
}