section.rubber {
  div.photo-grid {
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      height: auto;
      align-self: center;
      margin: 1em 0;
      &.hide-mobile {
        display: none;
      }
    }
  }
  @media all and (min-width: 1024px) {
    // div.eco-wrapper & {
    //   padding: 0;
    // }
    div.content-container {
      order: 1;
      padding-left: 5vw;
      width: 40%;
      align-self: flex-start;
    }
    div.photo-grid {
      order: 2;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;
      justify-content: space-between;
      img.hide-mobile, video {
        display: block;
        width: 70%;
        height: 55vh;
        object-fit: cover;
        cursor: pointer;
        margin: 1em 0;
      }
      > img:first-of-type {
        order: 3;
        height: 60vh;
        object-fit: cover;
        object-position: center center;
        cursor: pointer;
      }
      > img:nth-of-type(2) {
        order: 2;
        width: auto;
        max-width: 28%;
        height: 55vh;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}