.video-modal {
  .scrim {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    backdrop-filter: blur(5px);
  }
  .modal-content {
    position: fixed;
    z-index: 101;
    background-color: #000;
    border: 1px solid #444;
    // min-height: 25vh;
    // width: 60vw;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    // padding: 1rem;
    font-size: 0;
    line-height: 0;
  }
  .modal-content .icon-close {
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    position: relative;
    top: -1rem;
    right: 0;
    text-align: right;
    cursor: pointer;
    color: #ccc;
    background-color: #000;
  }
  .video-container {
    font-size: 0;
  }
}
