div.eco-wrapper {
  background: $brown url("images/mobile-map-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 10px;
  section {
    width: 100%;
    margin: 1em 0;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    &.future {
      padding-bottom: 10em;
    }
  }
  @media all and (min-width: 900px) {
    background-image: url("images/desktop-map-bg.jpg");
    background-size: cover;
    section {
      padding: 3em 1.5em;
      &.future {
        padding-bottom: 20em;
      }
    }
  }
}
