<link
  href="https://fonts.googleapis.com/css?family=Gothic+A1:400,700&display=swap"
  rel="stylesheet"
/>
<!-- <link rel="stylesheet" href="https://www.kodiakboots.com/on/demandware.static/Sites-KodiakUS-Site/-/default/v1613988194903/css/style.min.css"> -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/css/magnify.min.css"
  integrity="sha512-wzhF4/lKJ2Nc8mKHNzoFP4JZsnTcBOUUBT+lWPcs07mz6lK3NpMH1NKCKDMarjaw8gcYnSBNjjllN4kVbKedbw=="
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/eco/screen.css?$staticlink$" />

<div id="eco-container">
  <div class="eco-wrapper ca">
    <section class="intro">
      <!-- <img src="/eco/images/kodiak-bear-mc.svg?$staticlink$" alt="Grizzly Bear vector art"> -->
      <h1>Le projet « Conçu pour l’essentiel<sup>MC</sup></h1>
      <p>
        Chez Kodiak, nous fabriquons des chaussures conçues pour explorer la
        planète et, à ce titre, nous reconnaissons notre responsabilité de
        contribuer à en prendre soin. C'est pourquoi nous cherchons constamment
        à faire de meilleurs choix qui nous aident à réduire notre impact sur
        l'environnement. Nous avons commencé à chercher à nous approvisionner
        davantage en matériaux recyclés, renouvelables et écologiques, tels que
        des cuirs dont le traitement nécessite moins d'énergie et d'eau, des
        textiles fabriqués à partir de plastique recyclé et des semelles d'usure
        fabriquées à partir de caoutchouc recyclé et rebroyé. Notre engagement
        est de construire un avenir plus vert en misant sur l'amélioration
        continue et le progrès pour réduire au minimum notre empreinte
        environnementale sans compromettre la qualité et la performance de nos
        produits.
      </p>
      <div class="video-container">
        <div>
          <button>
            <img
              src="/eco/images/video-play-button.png?$staticlink$"
              alt="Play Button Icon"
            />
            <span>Visionner la vidéo</span>
          </button>
          <h2>Présentation de la chaussure de randonnée Skogan pour hommes</h2>
        </div>
      </div>
    </section>
    <section class="leathers">
      <div class="content-container">
        <img
          src="/eco/images/lite-logo.jpg?$staticlink$"
          alt="Logo for LITE Leathers"
          class="lazy"
        />
        <h2>CUIRS LITE IMPERMÉABLES AVEC COUTURES SCELLÉES</h2>
        <p>
          Les cuirs pleine fleur LITE imperméables et aux coutures scellées
          d'ISA TanTec sont fabriqués selon des techniques respectueuses de
          l'environnement. La technologie LITE<sup>MC</sup> est entièrement
          intégrée dans le processus de tannage du cuir, qui est spécialement
          conçu pour réduire et contrôler la consommation d'eau et d'énergie,
          ainsi que pour limiter la quantité de produits chimiques utilisés.
        </p>
      </div>
      <div class="carousel-container">
        <ul class="shoe-carousel">
          <li>
            <img
              data-style="blue-high"
              src="/eco/images/skogan-blue-high.png?$staticlink$"
              data-magnify-src="/eco/images/skogan-blue-high.png?$staticlink$"
              alt="Skogan Boot in Blue"
              data-url="$url('Product-Show','pid', ' 0A4TFBB639')$"
            />
          </li>
          <li>
            <img
              data-style="brown-high"
              src="/eco/images/skogan-brown-high.png?$staticlink$"
              data-magnify-src="/eco/images/skogan-brown-high.png?$staticlink$"
              alt="Skogan Boot in Brown"
              data-url="$url('Product-Show','pid', ' 0A4TFBB479')$"
            />
          </li>
          <li>
            <img
              data-style="brown-low"
              src="/eco/images/skogan-brown-low.png?$staticlink$"
              data-magnify-src="/eco/images/skogan-brown-low.png?$staticlink$"
              alt="Skogan Low Cut Boot in Brown"
              data-url="$url('Product-Show','pid', '0A4TFEB479')$"
            />
          </li>
          <li>
            <img
              data-style="white-low"
              src="/eco/images/skogan-white-low.png?$staticlink$"
              data-magnify-src="/eco/images/skogan-white-low.png?$staticlink$"
              alt="Skogan Low Cut Boot in White"
              data-url="$url('Product-Show','pid', ' 0A4TFEDS09')$"
            />
          </li>
        </ul>
        <h5>Faites glisser pour découvrir les modèles</h5>
        <a
          class="button eco-buy-now"
          href="$url('Product-Show','pid', ' 0A4TFBB639')$"
        >
          Acheter maintenant
        </a>
      </div>
      <div class="large-preview">
        <img
          data-style="blue-high"
          data-magnify-src="/eco/images/skogan-blue-high.png?$staticlink$"
          src="/eco/images/skogan-blue-high.png?$staticlink$"
          alt="Skogan Boot in Blue"
          class="lazy"
          data-url="$url('Product-Show','pid', ' 0A4TFBB639')$"
        />
        <!-- <p>Passer le curseur sur l'image pour agrandir</p> -->
      </div>
    </section>
    <section class="plastics">
      <div class="content-container">
        <h2>
          LACETS, DOUBLURES ET TISSU MAILLÉ DE LA TIGE EN PLASTIQUE RECYCLÉ
        </h2>
        <p>La toile en tissu maillé durable de la tige contient :</p>
        <ul class="text-list">
          <li><p>100 % de plastique recyclé</p></li>
          <li><p>Doublures 100 % en plastique recyclé</p></li>
          <li>
            <p>Lacets bicolores également faits à 50 % de tissu recyclé</p>
          </li>
        </ul>
      </div>
      <h4>Faites glisser pour voir le procédé</h4>
      <ul class="card-carousel">
        <li>
          <p>Étape 1</p>
          <img
            src="/eco/images/water-bottle.png?$staticlink$"
            alt="Water Bottle"
          />
          <p>Nous prenons du plastique recyclé.</p>
        </li>
        <li>
          <p>Étape 2</p>
          <img
            src="/eco/images/pellets.png?$staticlink$"
            alt="Plastic Pellets"
          />
          <p>Nous le transformons en granules.</p>
        </li>
        <li>
          <p>Étape 3</p>
          <img src="/eco/images/spun-yarn.png?$staticlink$" alt="Spun Yarn" />
          <p>Celles-ci sont filées en fil.</p>
        </li>
        <li>
          <p>Étape 4</p>
          <img
            src="/eco/images/fabric-swirl.png?$staticlink$"
            alt="Spun Yarn"
          />
          <p>Le fil est transformé en tissu.</p>
        </li>
        <li>
          <p>Étape 5</p>
          <video
            src="/eco/videos/fabric-shot.mp4?$staticlink$"
            playsinline
            loop
            autoplay
            muted
          ></video>
          <p>Le tissu est intégré dans la Skogan.</p>
        </li>
      </ul>
    </section>
    <section class="footbed">
      <div class="content-container">
        <div>
          <img
            src="/eco/images/fates-logo.png?$staticlink$"
            alt="Fates Logo"
            class="lazy"
          />
          <img
            class="hide-mobile lazy"
            src="/eco/images/green-circle-logo.png?$staticlink$"
            alt="Green Circle Logo"
          />
        </div>
        <h2>
          Semelle anatomique Comfortzone<sup>MC</sup> ECO de KODIAK<sup>MD</sup>
        </h2>
        <p>
          Kodiak s’est associée à Evoco pour développer la nouvelle semelle
          anatomique Comfortzone Eco intégrant la mousse FATES de haute qualité
          et fabriquée à partir de 70 % de biomasse végétale. La nouvelle
          semelle anatomique ComfortZone Eco offre un confort inégalé tout en
          ayant un faible impact sur l’environnement.
        </p>
        <ul class="text-list">
          <li><p>Au moins 70 % de biomasse végétale</p></li>
          <li><p>L’arche profilée assure un soutien sous le pied</p></li>
          <li>
            <p>
              Semelle anatomique double densité recouverte de mousse confort
              Ortholite<sup>MD</sup> assurant un bon matelassage et un meilleur
              contrôle de l'humidité
            </p>
          </li>
          <li>
            <p>
              Semelle d’usure avec motif à diamant inversé absorbant les chocs
            </p>
          </li>
        </ul>
      </div>
      <div class="photo-container">
        <picture class="lazy">
          <source
            media="(min-width: 1024px)"
            srcset="/eco/images/footbed-lifestyle-1.jpg?$staticlink$"
          />
          <img
            src="/eco/images/footbed-1.jpg?$staticlink$"
            alt="Photo of bottom of footbed"
          />
        </picture>
        <picture class="lazy">
          <source
            media="(min-width: 1024px)"
            srcset="/eco/images/footbed-lifestyle-2.jpg?$staticlink$"
          />
          <img
            src="/eco/images/footbed-2.jpg?$staticlink$"
            alt="Photo of top of footbed"
          />
        </picture>
      </div>
      <img
        class="hide-mobile lazy"
        src="/eco/images/footbed-side-by-side.png?$staticlink$"
        alt="Footbed inserts side by side"
      />
    </section>
    <section class="rubber">
      <div class="content-container">
        <h2>SEMELLE D'USURE ROBUSTE EN CAOUTCHOUC RECYCLÉ</h2>
        <p>
          La semelle d'usure résistante munie de crampons multidirectionnels est
          composée de 15 % de granules de caoutchouc recyclé. Les crampons
          multidirectionnels uniformément espacés adhèrent à diverses surfaces
          sans accumuler de terre.
        </p>
        <ul class="text-list">
          <li>
            <p>
              15 % de caoutchouc recyclé et broyé, 85 % de caoutchouc vierge
            </p>
          </li>
          <li>
            <p>
              Les crampons multidirectionnels uniformément espacés adhèrent à
              diverses surfaces
            </p>
          </li>
        </ul>
      </div>
      <div class="photo-grid">
        <img
          src="/eco/images/under-boot-lifestyle.jpg?$staticlink$"
          alt="Photo of bottom of foot, mid-step, wearing boot"
          class="lazy hover-image"
          data-hover="/eco/images/rubber-hover-alt.jpg?$staticlink$"
        />
        <img
          src="/eco/images/under-boot-white-alt.jpg?$staticlink$"
          alt="Photo of the bottom of boot"
          class="lazy"
        />
        <img
          class="hide-mobile lazy video-hover"
          id="macro-video"
          src="/eco/images/under-boot-white.jpg?$staticlink$"
          alt="Photo of the bottom of boot"
          data-poster="/eco/images/under-boot-white.jpg?$staticlink$"
          data-video="/eco/videos/macro-bottom.mp4?$staticlink$"
        />
      </div>
    </section>
    <section class="future">
      <h2>
        Dans le cadre de la conception et de la fabrication de nos futurs
        produits, nous nous engageons à ce qui suit :
      </h2>
      <ul class="roadmap">
        <li>
          <span style="color: #7a8698">1</span>
          <p>
            Travailler avec des partenaires qui offrent des matériaux recyclés,
            organiques et renouvelables dont on peut vérifier la traçabilité.
          </p>
        </li>
        <li>
          <span style="color: #ee6d00">2</span>
          <p>
            Nous approvisionner en cuir auprès de tanneries classées Argent, Or
            ou Platine pour leur responsabilité environnementale par le Leather
            Working Group (une organisation de vérification multilatérale).
          </p>
        </li>
        <li>
          <span style="color: #b9b46e">3</span>
          <p>
            Remplacer les matériaux dérivés du pétrole par des matières
            alternatives d'origine végétale.
          </p>
        </li>
        <li>
          <span>4</span>
          <p>
            Concevoir des produits durables en intégrant des pièces remplaçables
            et réparables.
          </p>
        </li>
        <li>
          <span style="color: #efbd67">5</span>
          <p>
            Viser l'objectif « zéro déchet » dans les installations de
            fabrication appartenant à Kodiak et dans celles de ses partenaires
            en envisageant de recycler les surplus de l'usine et/ou d'utiliser
            des déchets de consommation.
          </p>
        </li>
        <li>
          <span style="color: #a7d397">6</span>
          <p>Limiter la quantité de matériaux et de garnitures utilisés.</p>
        </li>
        <li>
          <span style="color: #d3ab97">7</span>
          <p>
            Évaluer soigneusement chaque choix de matériau en accordant la même
            importance à l'impact environnemental et à l'utilisation finale
            prévue.
          </p>
        </li>
      </ul>
      <div>
        <img
          src="/eco/images/kodiak-wordmark-green.svg?$staticlink$"
          alt="Grizzly Bear vector art"
        />
        <h2>Le projet de Kodiak « Conçu pour l’essentiel »</h2>
      </div>
    </section>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"
></script>
<script
  type="text/javascript"
  src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify.min.js"
  integrity="sha512-YKxHqn7D0M5knQJO2xKHZpCfZ+/Ta7qpEHgADN+AkY2U2Y4JJtlCEHzKWV5ZE87vZR3ipdzNJ4U/sfjIaoHMfw=="
  crossorigin="anonymous"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"
></script>
<script src="/eco/vendor.js?$staticlink$"></script>
<script src="/eco/app.js?$staticlink$"></script>
<script>
  require("src/app");
</script>
