.eco-wrapper {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $tan;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
  }

  p,
  span,
  input,
  button,
  textarea,
  label,
  select {
    color: $tan;
    font-family: "Gothic A1", sans-serif;
    a {
      text-decoration: underline;
      font-family: inherit;
      font-size: inherit;
    }
    span {
      font-family: inherit;
      font-size: inherit;
    }
  }

  h1 {
    font-size: 5.6em;
    font-weight: 700;
    line-height: 1.5em;
    sup {
      font-size: 0.45em;
      line-height: 0em;
      top: -0.8em;
    }
    @media all and (min-width: 1400px) {
      font-size: 8.2em;
      sup {
        font-size: 0.5em;
        top: -0.7em;
      }
    }
  }

  h2 {
    font-size: 3.6em;
    font-weight: 700;
    line-height: 1em;
    sup {
      font-size: 0.45em;
      line-height: 0em;
      top: -0.8em;
    }
    @media all and (max-width: 768px) {
      font-size: 3em;
    }
  }

  h3 {
    font-size: 2.8em;
    font-weight: 700;
    @media all and (max-width: 768px) {
      font-size: 2.4em;
    }
  }

  h4 {
    font-size: 2.6em;
    font-weight: 700;
    @media all and (max-width: 768px) {
      font-size: 2.4em;
    }
  }
  h5 {
    font-size: 2.3em;
    font-weight: 700;
    margin: 0.5em;
    @media all and (max-width: 768px) {
      font-size: 2.4em;
    }
  }

  p {
    font-size: 1.7em;
    line-height: 1.5;
    font-weight: 400;
    @media all and (max-width: 768px) {
      font-size: 1.7em;
    }
    strong {
      font-weight: 700;
    }
  }

  a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    font-family: "Gothic A1", sans-serif;
    font-size: 1.8em;
    @media all and (max-width: 768px) {
      font-size: 1.6em;
    }
    span {
      font-family: inherit;
      font-size: inherit;
    }
  }

  li {
    font-size: 1.8em;
    p {
      font-size: inherit;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }
}
