<link
  href="https://fonts.googleapis.com/css?family=Gothic+A1:400,700&display=swap"
  rel="stylesheet"
/>
<!-- <link
    rel="stylesheet"
    href="https://www.kodiakboots.com/on/demandware.static/Sites-KodiakUS-Site/-/default/v1613988194903/css/style.min.css"
  /> -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/css/magnify.min.css"
  integrity="sha512-wzhF4/lKJ2Nc8mKHNzoFP4JZsnTcBOUUBT+lWPcs07mz6lK3NpMH1NKCKDMarjaw8gcYnSBNjjllN4kVbKedbw=="
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/eco/screen.css?$staticlink$" />
<div id="eco-container">
  <div class="eco-wrapper">
    <section class="intro">
      <!-- <img src="/eco/images/kodiak-bear-tm.svg" alt="Grizzly Bear vector art"> -->
      <h1>The Built for What Matters<sup>™</sup> Initiative</h1>
      <p>
        At Kodiak, we build footwear for exploring the planet, and as such, we
        acknowledge our responsibility to help take care of it. That’s why we
        are striving to make better choices that help limit our impact on the
        environment. We have begun a journey to source more recycled, renewable
        and eco-considered materials—like leathers processed using less energy
        and water; textiles made with recycled plastic; and outsoles formulated
        with recycled, reground rubber. We’re committed to building a greener
        future by focusing on continuous improvements and progress towards
        minimizing our environmental footprint without compromise to the quality
        and performance of our products.
      </p>
      <div class="video-container">
        <div>
          <button>
            <img
              src="/eco/images/video-play-button.png?$staticlink$"
              alt="Play Button Icon"
            />
            <span>Play The Video</span>
          </button>
          <h2>Introducing the Men's Skogan Hikers</h2>
        </div>
      </div>
    </section>
    <section class="leathers">
      <div class="content-container">
        <img
          src="/eco/images/lite-logo.jpg?$staticlink$"
          alt="Logo for LITE Leathers"
          class="lazy"
        />
        <h2>Seam sealed waterproof LITE leathers</h2>
        <p>
          Premium full grain seam sealed waterproof LITE leathers from ISA
          TanTec are made with Low Impact to the Environment. The LITE system is
          fully integrated into the leather tanning process, which is specially
          designed to reduce and control water and energy usage, as well as
          limit the amount of chemicals used.
        </p>
      </div>
      <div class="carousel-container">
        <ul class="shoe-carousel">
          <li>
            <img
              data-style="blue-high"
              src="/eco/images/skogan-blue-high.png?$staticlink$"
              data-magnify-src="/eco/images/skogan-blue-high.png?$staticlink$"
              alt="Skogan Boot in Blue"
              data-url="$url('Product-Show','pid', ' 0A4TFBB639')$"
            />
          </li>
          <li>
            <img
              data-style="brown-high"
              src="/eco/images/skogan-brown-high.png?$staticlink$"
              data-magnify-src="/eco/images/skogan-brown-high.png?$staticlink$"
              alt="Skogan Boot in Brown"
              data-url="$url('Product-Show','pid', ' 0A4TFBB479')$"
            />
          </li>
          <li>
            <img
              data-style="brown-low"
              src="/eco/images/skogan-brown-low.png?$staticlink$"
              data-magnify-src="/eco/images/skogan-brown-low.png?$staticlink$"
              alt="Skogan Low Cut Boot in Brown"
              data-url="$url('Product-Show','pid', '0A4TFEB479')$"
            />
          </li>
          <li>
            <img
              data-style="white-low"
              src="/eco/images/skogan-white-low.png?$staticlink$"
              data-magnify-src="/eco/images/skogan-white-low.png?$staticlink$"
              alt="Skogan Low Cut Boot in White"
              data-url="$url('Product-Show','pid', ' 0A4TFEDS09')$"
            />
          </li>
        </ul>
        <h5>SWIPE TO EXPLORE STYLES</h5>
        <a
          class="button eco-buy-now"
          href="$url('Product-Show','pid', ' 0A4TFBB639')$"
        >
          Buy Now
        </a>
      </div>
      <div class="large-preview">
        <img
          data-style="blue-high"
          data-magnify-src="/eco/images/skogan-blue-high.png?$staticlink$"
          src="/eco/images/skogan-blue-high.png?$staticlink$"
          alt="Skogan Boot in Blue"
          class="lazy init-zoom"
          data-url="$url('Product-Show','pid', ' 0A4TFBB639')$"
        />
        <!-- <p>Hover to Zoom</p> -->
      </div>
    </section>
    <section class="plastics">
      <div class="content-container">
        <h2>Recycled plastic laces, liners and upper mesh fabric</h2>
        <p>Durable textiles in the uppers are made with:</p>
        <ul class="text-list">
          <li><p>100% recycled plastic</p></li>
          <li><p>100% recycled plastic linings</p></li>
          <li>
            <p>Dual-tone laces are spun with 50% recycled fabric as well</p>
          </li>
        </ul>
      </div>
      <h4>SWIPE TO SEE THE PROCESS</h4>
      <ul class="card-carousel">
        <li>
          <p>Step 1</p>
          <img
            src="/eco/images/water-bottle.png?$staticlink$"
            alt="Water Bottle"
          />
          <p>We Take Recycled Plastic</p>
        </li>
        <li>
          <p>Step 2</p>
          <img
            src="/eco/images/pellets.png?$staticlink$"
            alt="Plastic Pellets"
          />
          <p>Turn that into pellets</p>
        </li>
        <li>
          <p>Step 3</p>
          <img src="/eco/images/spun-yarn.png?$staticlink$" alt="Spun Yarn" />
          <p>That is spun into yarn</p>
        </li>
        <li>
          <p>Step 4</p>
          <img
            src="/eco/images/fabric-swirl.png?$staticlink$"
            alt="Spun Yarn"
          />
          <p>The yarn is turned into fabric</p>
        </li>
        <li>
          <p>Step 5</p>
          <!-- <img src="/eco/images/skogan-upper.jpg?$staticlink$" alt="Close up of Skogan"> -->
          <video
            src="/eco/videos/fabric-shot.mp4?$staticlink$"
            playsinline
            loop
            autoplay
            muted
          ></video>
          <p>Fabric is built into the Skogan</p>
        </li>
      </ul>
    </section>
    <section class="footbed">
      <div class="content-container">
        <div>
          <img
            src="/eco/images/fates-logo.png?$staticlink$"
            alt="Fates Logo"
            class="lazy"
          />
          <img
            class="hide-mobile lazy"
            src="/eco/images/green-circle-logo.png?$staticlink$"
            alt="Green Circle Logo"
          />
        </div>
        <h2>Kodiak<sup>®</sup> ComfortZone<sup>™</sup> Eco footbed</h2>
        <p>
          Kodiak partnered with Evoco to develop the new Comfortzone<sup>™</sup>
          Eco footbed featuring FATES, a superior performing foam made with 70%
          plant-based biomass. The new Comfortzone<sup>™</sup> Eco footbed
          delivers unmatched comfort with minimal environmental impact.
        </p>
        <ul class="text-list">
          <li><p>Made with at least 70% plant-based biomass</p></li>
          <li><p>Contoured arch provides “around the foot” support</p></li>
          <li>
            <p>
              Dual-density footbed topped with Ortholite<sup>®</sup> comfort
              foam for cushioning and moisture control
            </p>
          </li>
          <li>
            <p>Inverted diamond shaped platform for shock absorption</p>
          </li>
        </ul>
      </div>
      <div class="photo-container">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="/eco/images/footbed-lifestyle-1.jpg?$staticlink$"
          />
          <img
            src="/eco/images/footbed-1.jpg?$staticlink$"
            alt="Photo of bottom of footbed"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="/eco/images/footbed-lifestyle-2.jpg?$staticlink$"
          />
          <img
            src="/eco/images/footbed-2.jpg?$staticlink$"
            alt="Photo of top of footbed"
          />
        </picture>
      </div>
      <img
        class="hide-mobile lazy"
        src="/eco/images/footbed-side-by-side.png?$staticlink$"
        alt="Footbed inserts side by side"
      />
    </section>
    <section class="rubber">
      <div class="content-container">
        <h2>RECYCLED RUBBER LUG DESIGN</h2>
        <p>
          Multi-directional lug performance outsole features 15% recycled
          regrind rubber. Evenly spaced multi-direction lugs grip to variable
          surfaces while keeping dirt on the trail.
        </p>
        <ul class="text-list">
          <li><p>15% recycled regrind rubber, 85% virgin rubber</p></li>
          <li>
            <p>Evenly spaced multi-direction lugs grip to variable surfaces</p>
          </li>
        </ul>
      </div>
      <div class="photo-grid">
        <img
          src="/eco/images/under-boot-lifestyle.jpg?$staticlink$"
          alt="Photo of bottom of foot, mid-step, wearing boot"
          class="lazy hover-image"
          data-hover="/eco/images/rubber-hover-alt.jpg?$staticlink$"
        />
        <img
          src="/eco/images/under-boot-white-alt.jpg?$staticlink$"
          alt="Photo of the bottom of boot"
          class="lazy"
        />
        <img
          class="hide-mobile lazy video-hover"
          id="macro-video"
          src="/eco/images/under-boot-white.jpg?$staticlink$"
          data-poster="/eco/images/under-boot-white.jpg?$staticlink$"
          data-video="/eco/videos/macro-bottom.mp4?$staticlink$"
          alt="Photo of the bottom of boot"
        />
      </div>
    </section>
    <section class="future">
      <h2>
        As we design and build future products, we are committed to the
        following:
      </h2>
      <ul class="roadmap">
        <li>
          <span style="color: #7a8698">1</span>
          <p>
            Work with partners that offer traceable recycled, organic, and
            renewable materials.
          </p>
        </li>
        <li>
          <span style="color: #ee6d00">2</span>
          <p>
            Source leather from tanneries rated Silver, Gold or Platinum by the
            Leather Working Group (a multi-stakeholder auditing group) for their
            environmental responsibility.
          </p>
        </li>
        <li>
          <span style="color: #b9b46e">3</span>
          <p>Replace oil-based materials with plant-based alternatives.</p>
        </li>
        <li>
          <span>4</span>
          <p>
            Build for longevity and durability by integrating replaceable and
            repairable parts.
          </p>
        </li>
        <li>
          <span style="color: #efbd67">5</span>
          <p>
            Strive for Zero Waste in owned and partner manufacturing facilities
            by considering recycling factory surplus and/or using post-consumer
            waste.
          </p>
        </li>
        <li>
          <span style="color: #a7d397">6</span>
          <p>Limiting the number of materials and trims used.</p>
        </li>
        <li>
          <span style="color: #d3ab97">7</span>
          <p>
            Thoughtful assessment of each material choice that gives equal
            weight to environmental impact and intended end-use
          </p>
        </li>
      </ul>
      <div>
        <img
          src="/eco/images/kodiak-wordmark-green.svg?$staticlink$"
          alt="Grizzly Bear vector art"
        />
        <h2>Built For What Matters<sup>™</sup></h2>
      </div>
    </section>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"
></script>
<script
  type="text/javascript"
  src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify.min.js"
  integrity="sha512-YKxHqn7D0M5knQJO2xKHZpCfZ+/Ta7qpEHgADN+AkY2U2Y4JJtlCEHzKWV5ZE87vZR3ipdzNJ4U/sfjIaoHMfw=="
  crossorigin="anonymous"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"
></script>
<script src="/eco/vendor.js?$staticlink$"></script>
<script src="/eco/app.js?$staticlink$"></script>
<script>
  require("src/app");
</script>
